.filter {
  width: 232px;
  height: 252px;
  margin-left: 103px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.name {
  display: flex;
  align-items: flex-end;
  margin-top: 20px;
  margin-left: 20px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.checklist {
  margin-top: 10px;
}

.checklistItem {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
}

.checklistItem:hover {
  background: #F1FCFF;
}

.checklistText {
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #4A4A4A;
  margin-left: 10px;
}

.checklistCheckbox {
  margin-left: 20px;
  width: 20px;
  height: 20px;
}

.checklistItemHover {
  background: #F1FCFF;
}
