.segment {
  display: grid;
  width: 462px;
  margin-bottom: 10px;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.segment:last-of-type {
  margin-bottom: 20px;
}

.header {
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #A0B0B9;
  display: flex;
  align-items: center;
}

.content {
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #4A4A4A;
}
