.ticket {
  display: block;
  width: 100%;
  margin-top: 20px;
  background: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.ticketHeader {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.ticketPrice {
  width: 147px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #2196F3;
  text-transform: uppercase;
}

.ticketLogo {
  margin-left: 175px;
}

.segments {
  display: flex;
  margin-top: 20px;
  margin-left: 20px;
  flex-flow: column nowrap;
  /*justify-content: center;*/
}
