.tabs {
  display: flex;
  width: 100%;
  height: 50px;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  background: white;
  border: 1px solid #DFE5EC;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: black;
}

.tab:first-of-type {
  border-radius: 5px 0 0 5px;
}

.tab:last-of-type {
  border-radius: 0 5px 5px 0;
}

.tab:hover {
  background: rgba(33, 150, 243, 0.1);
}

.tabActive {
  border: 0;
  background: #2196F3;
  color: white;
}

.tabActive:hover {
  background: #2196F3;
}
