@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* body {
  padding: 0;
  margin: 0;
  background-color: #F3F7FA;
  font-family: 'Open Sans', serif;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
}
